* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body {
height: 100%;
width: 100%,
}

/* Practice Project 1 */

/* 
@font-face {
    font-family: cin ;
    src: url(./CinzelDecorative-Regular.ttf);
}

main{
    min-height:250%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 270px repeat(8,1fr) ;
    grid-template-areas:  "header header header"
                          "box1 box2 box3" 
                          "box1 box5 box3" 
                          "box4 box5 box6" 
                          "box4 box8 box6" 
                          "box7 box8 box9"
                          "box7 box11 box9"
                          "box10 box11 box12"
                          "box10 0 box12";
    padding: 20px;
    grid-gap:30px;
}
header{
    background-color: black;
    color: gold;
    grid-area: header;
    font-size: 150px;
    text-align: center;
    padding-top: 50px;
    font-family: cin;
    font-weight: 700;
}

.box1{
    grid-area: box1;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4.png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
  

}
.box2{
    grid-area: box2;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(1\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box3{
    grid-area: box3;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(2\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box4{
    grid-area: box4;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(4\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box5{
    grid-area: box5;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(5\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box6{
    grid-area: box6;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(6\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box7{
    grid-area: box7;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(7\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box8{
    grid-area: box8;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(8\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box9{
    grid-area: box9;
    background-image: url(./Gemini_Generated_Image_h7b4jdh7b4jdh7b4\ \(9\).png);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box10{
    grid-area: box10;
    background-image: url(https://plus.unsplash.com/premium_photo-1697730324062-c012bc98eb13?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z29sZGVuJTIwdGVtcGxlJTIwYW1yaXRzYXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box11{
    grid-area: box11;
    background-image: url(https://www.stayvista.com/blog/wp-content/uploads/2023/11/nature-photographer-29ezCWtMtnM-unsplash-1-scaled-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.box12{
    grid-area: box12;
    background-image: url(https://images.unsplash.com/photo-1627894485200-b92fb4353967?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);
    background-size: cover;
    background-position: center;
    border-radius: 100px;
} */

/* Practice Project 2 */
body {
  overflow-x: hidden;
}
@font-face {
    font-family: pop;
    src: url(./Poppins-Regular.ttf);
}
main{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;

    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas: "header header header"
                         "section fig1 fig1"
                         "section fig2 fig3";
     
    gap: 10px; 
    
                    

}
header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
   
    
}
.nav1{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav1 h4{
    font-size: 30px;
    color: lightslategray;
}
.nav1 h1{
    font-size: 30px;
    font-family: pop;
}
.nav2{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav2 h4{
    font-size: 15px;
    font-family: pop;
}
.nav3{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 50px;
}
.nav3 h4{
    font-size: 15px;
    font-family: pop;
}
button{
    display: flex;
    border-radius: 50px;
    padding: 10px 15px;
    background-color: black;
}
button h3{
    font-size: 17px;
    font-family: pop;
    color: white;
}
.arrow h4{
    border-radius: 50px;
    height: 25px;
    width: 25px;
    background-color: grey;
    margin-left: 5px ;
}
section{
    grid-area: section;
}
.button1{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.button1 button{
    height:60px ;
    width: 150px;
    background-color: white;
    border: none;
    background-image: url(https://png.pngtree.com/background/20250423/original/pngtree-a-circular-glass-pedestal-with-flowing-holographic-waves-against-purple-background-picture-image_16088012.jpg);
    background-size: cover;
    background-position: center;
}
.button1 h1{
    font-size: 70px;
    font-weight: 300;
    font-family: pop;
    margin-left: 40px;
}
section h2{
    font-size: 70px;
    font-weight: 300;
    font-family: pop;
    margin-left: 40px;
    margin-top: -70px;
}
.artificial{
    display: flex;
    align-items: center;
}
.artificial h3{
    font-size: 70px;
    font-weight: 300;
    font-family: pop;
    margin-left: 40px;
    margin-top: -20px;
}
.button2 button{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    height:60px ;
    width: 240px;
    color:black;
    margin-left: 20px;
    margin-top: -20px;
    border-color:2px solid rgb(3, 1, 1);
}
.button2 i{
    font-size: 30px;
}
.button2 h4{
    font-size: 20px;
    padding: 10px;
}
section h3{
    font-size: 70px;
    font-weight: 300;
    font-family: pop;
    margin-left: 40px;
    margin-top: -30px;
}
.button3 button{
    color: white;
    margin-left: 250px;
    padding: 15px 15px;
    font-family: pop;
    margin-top: 15px;
}
.images{
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.img1 img{
    height: 100px;
    width: 70px;
    margin-left: 30px;
    margin-top: 80px;
}
.img2 img{
    height: 120px;
    width: 70px;
    margin-top: 80px;
    margin-left: 40px;
}
.img3 img{
    height: 120px;
    width: 100px;
    margin-top: 80px;
    margin-left: 40px;
}
.img4 img{
    height: 120px;
    width: 100px;
    margin-top: 80px;
    margin-left: 40px;
}
.fig1{
    background-color: purple;
    grid-area: fig1;
    background-image: url(https://www.sganalytics.com/wp-content/uploads/2023/11/c5a9e-role-of-ai-and-data-analytics-700x393.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-right: 60px;
}
.fig2{
    background-color: brown;
    grid-area: fig2;
    background-image: url(https://cdn.prod.website-files.com/64028859e22a1ba231d10f5d/640a6ec9a496230eeb87b3ac_blogpost_image02.webp);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-bottom: 10px;
}
.fig3{
    background-color: chocolate;
    grid-area: fig3;
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop/mxBMOnw2VGFanKOR/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-represents-how-machine-learning-is-inspired-by-neuroscience-and-the-human-brain-it-was-created-by-novoto-studio-as-par-AE0a8L41V8ikOw8X.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-right: 60px;
    margin-bottom: 10px;
}


