/* boilerplate of css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

/* how to use front from internet concept */

@font-face {
    font-family: horror;
    src: url(./Another\ Danger\ -\ Demo.otf);
}

@font-face {
    font-family: nothing;
    src: url(./Ndot-55.otf);
}


/* h1{
    color: red;
    background-color: black;
    font-size:50px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
} */

    /* id and class concept */

/* #city{
    color: bisque;
    font-size: 80px;
    font-style: italic;
    background-color: yellowgreen;
}

.husain{
    color: royalblue;
} */


    /* font concept */

/* h2{
    color: red;
    background-color: black;
    font-family: horror;
    
}

h1{
    color: red;
    background-color: black;
    font-size: 100px;
    font-family: nothing;
} */

div{
    
    height: 100px;
    width: 100px;
    background-color: blue;

}