@font-face {
    font-family: 'Neue Machina';
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f4f9ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222;
}

/* header */
#header{
    background: #0A425F ;
    color: #fff;
    text-align: center;
    padding: 70px 20px;
}
#header h1{
    font-size: 2.8rem;
    font-family: 'Neue Machina', sans-serif;
}
#header h2{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 2px;
}

/* common section design */
#about, #education, #skills, #projects, #contact {
    margin: 40px 100px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* individual colors */
#about { background-color: #cadad7; }       
#education { background-color: #e8dbc5; }  
#skills { background-color: #d4c6da; }      
#projects { background-color:#b9c1c6; }    
#contact { background-color: #c7e9f4; } 

#about h2, #education h2, #skills h2, #projects h2, #contact h2{
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333333;

}

h3{
    background-color: #ffffffd9;
    padding: 10px;
    margin: 12px auto;
    border-radius: 6px;
    font-size: 1.1rem;
    color: #222;
}

p{
    color: #333333;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* footer */
footer{
    background: #0A425F;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}





















